.Card {
    width: 280px;
    height: 400px;
    text-align: left;
}
.Card-author {
    width: 280px;
    height: 18px;
    font-size: 16px;
    margin: 0;
    margin-bottom: 7px;
}

.Card-img {
    width: 280px;
    height: 320px;
    object-fit: cover;
}

.Card-description {
    min-height: 70px;
    max-height: fit-content;
    width: 280px;
    font-size: 12px;
    text-align: left;
    margin: 0;
}



